* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.admin-page1 {
    /* height: 60vh; */
 background-color: aqua;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 50px;
  margin-right: 50px;
;}

/* Style for grid items */
.grid-item1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 200px;
  /* justify-content: space-between; */
  /* align-items: center; */
}

/* Style for the button in the second column */
.grid-item1 button {
  padding: 12px; 
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 80%; /* Adjusted width */
}

/* Style for the input elements */
.grid-item1 input {
  width: 80%; /* 80% width for the input */
  padding: 8px; /* Smaller padding for the input */
  box-sizing: border-box; /* Include padding in the width */
}

#words1 {
  text-align: center;
  margin: auto;
  max-width: auto; /* Adjust the max-width as needed */
}

/* Additional buttons outside the grid */

.block1{
    
    display: flex;
    flex-direction: row;
    gap:350px;
    justify-content: center;
    align-items: center;
}

.new-block{
  display: flex;
  flex-direction: column;
  gap:40px;
  justify-content: center;
  align-items: center;
}

.party1{
    display: flex;
    flex-direction: row;
    gap:50px;
    justify-content: center;
    align-items: center;
}

.block1 button{
  width: 300px;
  height: 50px;
    border-style: solid;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
}

.vote-button{
  width: 300px;
  height: 50px;
    border-style: solid;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
}

.style{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}